rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /backgrounds/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /classes/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /enemies/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /feats/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /items/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /races/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /skills/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /spells/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /games/{gameId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.ownerId;
    }
  }
}